.create-group-form {
  background-color: #f9f9f9;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  position: relative;
}

.create-group-container{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.create-group-container-screen{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.create-group-form h2 {
  color: #004080;
  margin-bottom: 0.5rem;
}

.create-group-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-group-form button {
  padding: 0.5rem;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-group-form button:hover {
  background-color: #003366;
}
